@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    background-image: linear-gradient(#1C1C1C,#2C2C2C);
    height: 100vh;
}

header{
    width: 100%;
    height: 8vh;
    display: flex;
}

.logo{
    width: 30%;
    height: 8vh;
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-end;
}

.logo p{
    padding-left: 15px;
    font-size: 18px;
    font-family: "Cascadia Code", sans-serif;
}

menu{
    width: 55%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

menu a{
    color: white;
    text-decoration: none;
    font-weight: 200;
}
